<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>$i18n.getText("com.atlassian.oauth.serviceprovider.edit.consumer.error")</title>
        <meta name="decorator" content="atl.admin">
        $webResourceManager.requireResource("com.atlassian.oauth.admin:consumers-web-resources")
    </head>
    <body>
        <h1>$i18n.getText("com.atlassian.oauth.admin.title")</h1>
        #tabs("consumers")
        <h2>$i18n.getText("com.atlassian.oauth.serviceprovider.edit.consumer.error")</h2>
        <p>$i18n.getText($message)</p>
        <a href="list">$i18n.getText("com.atlassian.oauth.serviceprovider.return.to.consumer.list")</a>
    </body>
</html>
