
#oauth-user-profile {
    padding: 16px;
}

#oauth-user-profile .access-token-list {
    margin: 1em 0 0 0;
}

#oauth-user-profile .access-token-list h2 {
    margin: 1.2em 0 1em 0;
    font-weight: normal;
    font-size: 100%;
}

#oauth-user-profile .access-token-list .token-item {
    padding: 0 0 0 46px;
}

#oauth-user-profile .access-token-list .token-item .app-icon {
    float: left;
    margin-left: -46px;
    width: 36px;
    height: 36px;
    border: 1px solid #888;
}

#oauth-user-profile .default-icon {
    background: #fff url("../../../download/resources/com.atlassian.oauth.serviceprovider:access-token-resources/images/default-icon.png") 0 0 no-repeat;
}

#oauth-user-profile .access-token-list .token-item .app-icon img.remote-icon {
    width: 36px;
    height: 36px;
}

#oauth-user-profile .access-token-list .token-item .heading {
    margin: 4px 0 2px 0;
}

#oauth-user-profile .access-token-list .token-item .name {
    font-size: 110%;
    font-weight: bold;
}

#oauth-user-profile .access-token-list .token-item .hostname {
    font-size: 110%;
    font-weight: bold;
}

#oauth-user-profile .access-token-list .token-item .expiration {
    padding-left: 1em;
    font-size: 85%;
    color: #555;
}

#oauth-user-profile .access-token-list .token-item .description {
    margin: 2px 0 2px 0;
    font-size: 90%;
}

#oauth-user-profile .access-token-list .token-item .access-options {
    font-size: 85%;
    color: #555;
}

#oauth-user-profile .access-token-list .divider {
    clear: both;
    width: 250px;
    height: 2px;
    margin: 8px 0 6px 46px;
    border-top: 2px solid #aaf; 
}

#oauth-user-profile .access-token-list .no-items {
    padding: 20px 0 0 46px;
    font-style: italic; 
}

#oauth-user-profile .hidden {
    display: none;
}