<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>$i18n.getText("com.atlassian.oauth.consumer.consumer.info.title")</title>
        <meta name="decorator" content="atl.admin">
        $webResourceManager.requireResource("com.atlassian.oauth.admin:web-resources")
    </head>
    <body>
        <h1>$i18n.getText("com.atlassian.oauth.admin.title")</h1>
        <div class="aui-tabs horizontal-tabs" id="oauth-tabs">
            #tabs("consumer-info")
            <div class="tabs-pane active-pane" id="oauth-plugin">
                <div class="subcontent">
                    <p>$i18n.getText("com.atlassian.oauth.shared.definition.para1")</p>
                    <p>$i18n.getText("com.atlassian.oauth.shared.definition.para2")</p>
                    <p>$i18n.getText("com.atlassian.oauth.shared.definition.para3")</p>
                    <p>$i18n.getText("com.atlassian.oauth.consumer.definition.serviceprovider")</p>
                    <p>$i18n.getText("com.atlassian.oauth.consumer.definition.consumer")</p>
                </div> <!-- .subcontent -->
                <div class="content">
                    <form class="aui" action="update-consumer-info">
                        <p class="description">$i18n.getText("com.atlassian.oauth.consumer.consumer.info.description")</p>
                        <fieldset>
                            <div class="field-group">
                                <label>$i18n.getText("com.atlassian.oauth.consumer.key")</label>
                                <span class="field-value">$consumer.key</span>
                                <div class="description">$i18n.getText("com.atlassian.oauth.consumer.key.description", $applicationProperties.displayName)</div>
                            </div>
                            <div class="field-group">
                                <label>$i18n.getText("com.atlassian.oauth.consumer.consumer.name")</label>
                                <span class="field-value">$consumer.name</span>
                                <div class="description">$i18n.getText("com.atlassian.oauth.consumer.consumer.name.description")</div>
                            </div>
                            <div class="field-group">
                                <label>$i18n.getText("com.atlassian.oauth.consumer.consumer.description")</label>
                                <span class="field-value">
                                    #if($!consumer.description)$!consumer.description#{else}<em>$i18n.getText("com.atlassian.oauth.shared.none.specified")</em>#end
                                </span>
                                <div class="description">$i18n.getText("com.atlassian.oauth.consumer.consumer.description.description")</div>
                            </div>
                            <div class="field-group">
                                <label>$i18n.getText("com.atlassian.oauth.consumer.consumer.publicKey")</label>
                                <textarea class="license" cols="60" rows="5" readonly="true">$strings.addNewLines($encodedPublicKey, 50)</textarea>
                                <div class="description">$i18n.getText("com.atlassian.oauth.consumer.consumer.publicKey.description")</div>
                            </div>
                            <div class="field-group">
                                <label>$i18n.getText("com.atlassian.oauth.consumer.consumer.callback")</label>
                                <span class="field-value">
                                    #if($!consumer.callback)$!consumer.callback#{else}<em>$i18n.getText("com.atlassian.oauth.shared.none.specified")</em>#end
                                </span>
                                <div class="description">$i18n.getText("com.atlassian.oauth.consumer.consumer.callback.description")</div>
                            </div>
                        </fieldset>
                        <div class="buttons-container">
                            <div class="buttons">
                                <!-- <input id="save-btn" class="button" type="submit" value="$i18n.getText("update")"> -->
                                <input class="button submit" type="submit" value="$i18n.getText('Edit')" />
                            </div>
                        </div>
                    </form>
                </div> <!-- .content -->
            </div> <!-- #oauth-plugin -->
        </div>
    </body>
</html>
